<!DOCTYPE html>
<html lang="en">
<head>
<title>TrendyDesigns</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<!--<link rel="icon" href="images/tulis.jpg" type="image/gif">-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link rel="stylesheet" href="css/bootstrap.css"> <!-- Bootstrap-Core-CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="css/font-awesome.css"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all"/> <!-- Owl-Carousel-CSS -->
<!-- pop-up-box -->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //pop-up-box -->
<!-- For-Gallery-CSS -->
<link href="css/viewbox.css" rel="stylesheet" type="text/css" media="all" />
<!-- //For-Gallery-CSS -->
<!-- //css files -->
<!-- web-fonts -->
<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
<!-- //web-fonts -->
</head>
<body>
<div class="main-agile" id="home">
	<!-- header -->
	<div class="header">
		<div class="container">
			<div class="col-md-4 w3l_header_left">
				<!--<div class="w3ls-social-icons">-->
					<!--<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>-->
					<!--<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>-->
					<!--<a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>-->
					<!--<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>-->
					<!--<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>-->
				<!--</div>-->
			</div>
			<div class="col-md-4 w3l_header_right">
				<div class="logo">
					<h1><a class="navbar-brand" href="index.html"><span>Trendy Designs</span></a></h1>
				</div>
			</div>
			<div class="col-md-4 w3l_header_right w3l-r">
				<ul>
					<li><a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a></li>
					<li><a href="#small-dialog1" class="play-icon popup-with-zoom-anim">Sign Up</a></li>
					<!--<li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:zhangyinan07@hotmail.com">zhangyinan07@hotmail.com</a></li>-->
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="header-bottom">
		<!-- navigation section -->
		<div class="w3_navigation">
			<div class="container">
				<nav class="navbar navbar-default">
					<div class="navbar-header navbar-left">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
						<nav class="menu menu--miranda">
							<ul class="nav navbar-nav menu__list">
								<li class="menu__item menu__item--current"><a href="index.html" class="menu__link">温馨之家</a></li>
								<li class="menu__item"><a href="#about" class="scroll menu__link">设计理念</a></li>
								<li class="menu__item"><a href="#services" class="scroll menu__link">服务宗旨</a></li>
								<li class="menu__item"><a href="#team" class="scroll menu__link">设计团队</a></li>
								<li class="menu__item"><a href="#gallery" class="scroll menu__link">装修案例</a></li>
								<li class="menu__item"><a href="#contact" class="scroll menu__link">联系方式</a></li>
							</ul>
						</nav>
					</div>
				</nav>	
				<div class="agileinfo_search">
					<form action="#" method="post">
						<input type="text" name="Search" placeholder="请输入要搜索的内容" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>
		<!-- /navigation section -->
	</div>
	<!-- //header -->
</div>
<!-- Slider -->
<div class="slider">
	<div class="callbacks_container">
		<ul class="rslides" id="slider">
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top1">
					<div class="container">
						<div class="slider-info">
							<i class="glyphicon glyphicon-lamp" aria-hidden="true"></i>
							<h3>OUR EXPERTISE FOR</h3>
							<h4>INTERIOR Designs</h4>
							<p>Your Life Easier</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top">
					<div class="container">
						<div class="slider-info">
							<i class="glyphicon glyphicon-lamp" aria-hidden="true"></i>
							<h3>INTERIOR REMODELING TO MAKES</h3>
							<h4>Office Designs</h4>
							<p>Bring Magic to home</p>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="w3layouts-banner-top w3layouts-banner-top2">
					<div class="container">
						<div class="slider-info">
							<i class="glyphicon glyphicon-lamp" aria-hidden="true"></i>
							<h3>FEATURED PROJECT</h3>
							<h4>ELEGANT INTERIOR</h4>
							<p>Feel More on home</p>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
<!-- //Slider -->				
<!-- pop-up-box -->
<div id="small-dialog" class="mfp-hide w3ls_small_dialog wthree_pop">
	<h3 class="agileinfo_sign">Sign In</h3>	
	<div class="agileits_signin_form">
		<form action="#" method="post">
			<input type="email" name="email" placeholder="Your Email" required="">
			<input type="password" name="password" placeholder="Password" required="">
			<div class="agile_remember">
				<div class="agile_remember_left">
					<div class="check">
						<label class="checkbox"><input type="checkbox" name="checkbox"><i> </i>remember me</label>
					</div>
				</div>
				<div class="agile_remember_right">
					<a href="#">Forgot Password?</a>
				</div>
				<div class="clearfix"> </div>
			</div>
			<input type="submit" value="SIGN IN">
			<p>Don't have an account <a href="#small-dialog1" class="play-icon popup-with-zoom-anim">Sign Up</a></p>
			<div class="w3agile_social_icons">
				<ul>
					<li class="wthree_follow">Follow us on :</li>
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>	
			</div>
		</form>
	</div>
</div>
<div id="small-dialog1" class="mfp-hide w3ls_small_dialog wthree_pop">
	<h3 class="agileinfo_sign">Sign Up</h3>	
	<div class="agileits_signin_form">
		<form action="#" method="post">
			<input type="text" name="name" placeholder="First Name" required="">
			<input type="text" name="name" placeholder="Last Name" required="">
			<input type="email" name="email" placeholder="Your Email" required="">
			<input type="password" name="password" placeholder="Password" required="">
			<input type="password" name="password" placeholder="Confirm Password" required="">
			<input type="submit" value="SIGN UP">
			<p>Already a member <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign In</a></p>
			<div class="w3agile_social_icons">
				<ul>
					<li class="wthree_follow">Follow us on :</li>
					<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
				</ul>	
			</div>
		</form>
	</div>
</div>
<!-- //pop-up-box -->
<!-- welcome -->
<div class="about w3layouts-agileinfo" id="about">
	<div class="container">
		<h3 class="top-about">Welcome</h3>
		<div class="about-top w3ls-agile">
			<div class="col-md-6 come">
				<div class=" about-wel">
					<h5>Trendy Designs | 时尚而又不失文雅</h5>
					<p>美一个房子，美一个家；以精心为创，以品质为美；我们秉承空间是你的，创意是我的，用我的创意来美化你的空间；用心设计合理施工，打造非凡环境享受，美饰万家，点靓生活，选择Trendy Designs，畅享好生活</p>
						<ul>
							<li><a href="#"><i class="glyphicon glyphicon-ok"></i>让灵感自由释放，创造一个心灵渴望的空间，找Trendy Designs，用心装饰品质生活，给家不同的品味</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-ok"></i>一个愉悦的空间、一种尊贵的生活、一方独享的天地，都在这里寻求最合适的表有效规划布局</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-ok"></i>合理使用空间，以小博大，画龙点睛，创造美味家居生活！让灵感自由释放，创造一个心灵渴望的空间</a></li>
						</ul>
				</div>
			</div>
			<div class="col-md-6 red">
				<div class="about-img">
					<div class="col-md-4 about-img1">
						<i class="fa fa-bath w3l-fisrt" aria-hidden="true"></i>
						<i class="fa fa-bed" aria-hidden="true"></i>
					</div>
					<div class="col-md-4 about-img2">
						<i class="glyphicon glyphicon-lamp w3l-fisrt" aria-hidden="true"></i>
						<i class="fa fa-child" aria-hidden="true"></i>
					</div>
					<div class="col-md-4 about-img2">
						<i class="fa fa-heart-o w3l-fisrt" aria-hidden="true"></i>
						<i class="fa fa-laptop" aria-hidden="true"></i>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //welcome -->
<!-- services -->
<div class="services" id="services">
	<div class="container">
		<div class="w3layouts-services-heading">
			<h3>Our Services</h3>
		</div>
		<div class="w3-services-grids">
			<div class="col-md-4 w3l-services-grid">
				<div class="w3ls-services-img">
					<i class="fa fa-home" aria-hidden="true"></i>
				</div>
				<div class="agileits-services-info">
					<h4>Designs Trends</h4>
					<p>住宅室内设计不是一味追求视觉享受的艺术创作，一套好的家居设计一定承载着健康、美好的生活态度。好的设计应该能与生活完美结合，让生活更有质感。 </p>
				</div>
			</div>
			<div class="col-md-4 w3l-services-grid">
				<div class="w3ls-services-img">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</div>
				<div class="agileits-services-info">
					<h4>Planning</h4>
					<p>基于人体工程学原理的设计，运用各种中央集成智能家居手段，为业主打造更为体贴入微的居住环境。如进行厨房设计时考虑合理的作业流程和舒适的橱柜尺寸，采用中央新风系统创造自如畅快呼吸的地下室休闲空间等。 </p>
				</div>
			</div>
			<div class="col-md-4 w3l-services-grid">
				<div class="w3ls-services-img">
					<i class="fa fa-wrench" aria-hidden="true"></i>
				</div>
				<div class="agileits-services-info">
					<h4>Develop</h4>
					<p>家居设计的最高境界是人与家居环境的和谐统一，将主人的性格特征、审美倾向、综合修养、人生阅历等充分地表达出来。当走进为学者型业主打造的书香之家，或者来到一家户外旅行爱好者极具异国风情的居住空间，一定能在第一瞬间感受到空间和主人紧密相连的独特魅力。</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //services -->
<!-- Special -->
<div class="w3agile-spldishes">
	<div class="container">
		<h3 class="w3ls-title">Special Designs</h3>
		<div class="spldishes-agileinfo">
			<div class="col-md-3 spldishes-w3left">
				<h5 class="w3ltitle">Trendy Designs</h5>
				<p>生活是创意的来源，创意源于文化，创意源于自己</p>
			</div> 
			<div class="col-md-9 spldishes-grids">
				<!-- Owl-Carousel -->
				<div id="owl-demo" class="owl-carousel text-center agileinfo-gallery-row">
					<a class="item g1">
						<img class="lazyOwl" src="images/f1.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f7.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f6.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f5.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f4.jpg" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a> 
					<a class="item g1">
						<img class="lazyOwl" src="images/f1.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f2.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
					<a class="item g1">
						<img class="lazyOwl" src="images/f3.jpg" title="Our latest gallery" alt=""/>
						<div class="agile-dish-caption">
							<h4>Trendy Designs</h4>
							<span>微于细节 贵于专业</span>
						</div>
					</a>
				</div> 
			</div>  
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //Special --> 
<!-- team -->
<div id="team" class="team-content all_pad w3agile">
	<div class="container">
		<h3 class="title">OUR TEAM</h3>
		<div class="t-content-gds">
			<div class="col-md-3 t-cont-gds wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0s">
				<div class="team-img">
					<img class="img-responsive" src="images/t1.jpg" alt=" "/>
					<div class="team-text">
						<h4>Thomas</h4>
						<p>中央美术学院</p>
						<ul>
							<li><a class="tw1" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw2" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tw3" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tw4" href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 t-cont-gds wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0s">
				<div class="team-img">
					<img class="img-responsive" src="images/t2.jpg" alt=" "/>
					<div class="team-text">
						<h4>Federica</h4>
						<p>上海交通大学</p>
						<ul>
							<li><a class="tw1" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw2" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tw3" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tw4" href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 t-cont-gds wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0s">
				<div class="team-img">
					<img class="img-responsive" src="images/t3.jpg" alt=" "/>
					<div class="team-text">
						<h4>张默晓</h4>
						<p>上海应用技术学院</p>
						<ul>
							<li><a class="tw1" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw2" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tw3" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tw4" href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 t-cont-gds wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0s">
				<div class="team-img">
					<img class="img-responsive" src="images/t5.jpg" alt=" "/>
					<div class="team-text">
						<h4>张义男</h4>
						<p>河南工业大学</p>
						<ul>
							<li><a class="tw1" href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a class="tw2" href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a class="tw3" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li><a class="tw4" href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //team -->
<!-- Gallery -->
<section class="portfolio-w3ls" id="gallery">
	<div class="container">
		<h3 class="slideanim">Our Gallery</h3>
	</div>
	<div id="portfoliowrap" class="slideanim">
        <div class="portfolio-centered">
          	<div class="portfolio-item graphic-Designs">
				<a href="images/g1.jpg" class="thumbnail">
					<img src="images/g1.jpg" alt="">
				</a>
			</div>
            <div class="portfolio-item web-Designs">
                <a href="images/g2.jpg" class="thumbnail">
					<img src="images/g2.jpg" alt="">
				</a>
			</div>
			<div class="portfolio-item graphic-Designs">
				 <a href="images/g3.jpg" class="thumbnail">
					<img src="images/g3.jpg" alt="">
				</a>
			</div>          
			<div class="portfolio-item web-Designs">
				 <a href="images/g4.jpg" class="thumbnail">
					<img src="images/g4.jpg" alt="">
				</a>
			</div>
			<div class="portfolio-item graphic-Designs">
				<a href="images/g12.jpg" class="thumbnail">
					<img src="images/g12.jpg" alt="">
				</a>
			</div>        
			<div class="portfolio-item web-Designs">
				 <a href="images/g5.jpg" class="thumbnail">
					<img src="images/g5.jpg" alt="">
				</a>
			</div>
			<div class="portfolio-item graphic-Designs">
				 <a href="images/g6.jpg" class="thumbnail">
					<img src="images/g6.jpg" alt="">
				</a>
			</div>        
			<div class="portfolio-item web-Designs">
				 <a href="images/g11.jpg" class="thumbnail">
					<img src="images/g11.jpg" alt="">
				</a>
			</div>
			<div class="portfolio-item graphic-Designs">
				 <a href="images/g7.jpg" class="thumbnail">
					<img src="images/g7.jpg" alt="">
				</a>
			</div>         
			<div class="portfolio-item web-Designs">
				 <a href="images/g8.jpg" class="thumbnail">
					<img src="images/g8.jpg" alt="">
				</a>
			</div>
			<div class="portfolio-item graphic-Designs">
				 <a href="images/g9.jpg" class="thumbnail">
					<img src="images/g9.jpg" alt="">
				</a>
			</div>         
			<div class="portfolio-item web-Designs">
				 <a href="images/g10.jpg" class="thumbnail">
					<img src="images/g10.jpg" alt="">
				</a>
			</div> 
			<div class="clearfix"></div>			
        </div><!-- portfolio -->
	</div>
</section>
<!-- //gallery -->
<!-- testimonials -->
<div class="testimonials">
	<div class="container">
		<h3 class="head head1">Designer's Resume</h3>
		<ul id="flexiselDemo1">			
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="wthree_testimonials_grid">
						<h4>设计师：Thomas</h4>
						<p> 中央美术学院 环境艺术设计
							设计理念：关注生活方式，以人为本打造高舒适度的居住环境
							经典案例： 誉品原墅、君悦湾、汤臣高尔夫、英庭名墅 诸子阶、香江别墅、当代MOMA、
							从业经验： 13 年 案例作品：38套
							擅长风格：现代简约、新中式、现代前卫、简欧</p>
						<div class="wthree_testimonials_grid_pos">
							<img src="images/te1.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="wthree_testimonials_grid1">
						<h5>室内设计师</h5>
						<p>简明</p>
					</div>
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="wthree_testimonials_grid">
						<h4>设计师：Federica</h4>
						<p> 学习经历：上海交通大学 环境艺术设计
							设计理念：优雅中蕴藏着几分奢华，让精神和灵魂植入空间。
							擅长风格：中式、现代、美式、欧式
							经典案例：牡丹华庭、浅水湾、保利·大花园别墅、凤凰新城、皇家别墅、淀湖桃园别墅、镇江招商北固湾、浙江颐景园别墅、天润绿洲别墅、丰泽怡园样板间设计、蓝湾景天别墅等
							从业经验： 10 年 案例作品：10套
							擅长风格：现代简约、新中式、美式乡村、简欧</p>
						<div class="wthree_testimonials_grid_pos">
							<img src="images/te2.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="wthree_testimonials_grid1">
						<h5>室内设计师</h5>
						<p>简明</p>
					</div>
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="wthree_testimonials_grid">
						<h4>设计师：王默晓</h4>
						<p> 毕业院校&进修院校：上海应用技术学院 环境艺术设计专业
							设计理念：设计来源于生活，设计改变生活。
							擅长风格：现代简约 简美 新中式 新古典
							经典案例：御华山 、五玠坊、 御翠豪庭 、世茂滨江 、万科翡翠公园 、海上传奇 、爱建园 、泰和红御
							从业经验： 12 年 案例作品：11套
							擅长风格：现代简约、新中式、新古典、美式乡村</p>
						<div class="wthree_testimonials_grid_pos">
							<img src="images/te3.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="wthree_testimonials_grid1">
						<h5>室内设计师</h5>
						<p>简明</p>
					</div>
				</div>
			</li>
			<li>
				<div class="wthree_testimonials_grid_main">
					<div class="wthree_testimonials_grid">
						<h4>设计师：Patrick</h4>
						<p> 毕业院校&进修院校：河南工业大学 艺术设计专业
							设计理念：设计来源于生活，设计改变生活。
							擅长风格：现代简约 简美 新中式 新古典
							经典案例：御华山 、五玠坊、 御翠豪庭 、世茂滨江 、万科翡翠公园 、海上传奇 、爱建园 、泰和红御
							从业经验： 12 年 案例作品：11套
							擅长风格：现代简约、新中式、新古典、美式乡村</p>
						<div class="wthree_testimonials_grid_pos">
							<img src="images/te4.jpg" alt=" " class="img-responsive" />
						</div>
					</div>
					<div class="wthree_testimonials_grid1">
						<h5>室内设计师</h5>
						<p>简明</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- //testimonials -->
<!-- contact -->
<div class="contact_w3agile" id="contact">
	<div class="container wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
		<h3 class="title-w3">Contact Us</h3>
		<ul class="ul_guanggao" style="color: white;list-style-type:none;line-height:30px;text-align:left;">
			<li><h2 style="font-family: 华文行楷;margin: 20px 0px;">招贤纳士</h2></li>
			<li style="list-style-type: circle"><p>设计完美空间，彰显精品居家，招室内设计师</p></li>
			<li style="list-style-type: circle"><p>天工之作，品味之选，招施工工程师</p></li>
			<li><h2 style="font-family: 华文行楷;margin: 20px 0px;">招商引资</h2></li>
			<li style="list-style-type: circle"><p>设计完美空间，彰显精品居家，天工之作，品味之选。欢迎各行各业投资人投资合作</p></li>
			<li>
				<label><p class="sub" style="font-size: 10px;color: #9d9d9d"><span>注:</span>网站所做活动以线下为准，最终解释权归本公司所有，未经允许私自使用追究其法律责任，本网站所有权为南柯一梦所有，详情请电话咨询，谢谢配合</p>
				</label>
			</li>
		</ul>
		<!--<form action="#" method="post">-->
			<!--<input type="text" placeholder="Name" name="Name" required="">-->
			<!--<input type="email" placeholder="Email" name="Email" required="">-->
			<!--<textarea name="Message" placeholder="Message" required=""></textarea>-->
			<!--<div class="con-form text-center">-->
				<!--<input type="submit" value="Send">-->
			<!--</div>-->
		<!--</form>-->
		
	</div>
</div>
<!-- //contact -->	
<!-- map -->	
	 <!---<div class="map wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.94722638946!2d2.2775173705500484!3d48.85883773941345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C+France!5e0!3m2!1sen!2sin!4v1477636962017" style="border:0" allowfullscreen></iframe>
	 </div>--->
<!-- //map -->	
<!-- //main -->
<!-- Footer -->
<div class="foote-w3l">
	<div class="col-md-4 ag-w3-3">
		<a href="#home" class="scroll"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
	</div>
	<!--<div class="container">-->
		<!--<div class="col-md-4 ag-w3">-->
			<!--<li class="dropdown menu__item">-->
				<!--<a href="#" class="dropdown-toggle menu__link"  data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>-->
				<!--<ul class="dropdown-menu">-->
					<!--<li><a href="#about" class="scroll">设计理念</a></li>-->
					<!--<li><a href="#services" class="scroll">服务宗旨</a></li>-->
					<!--<li><a href="#team" class="scroll">设计团队</a></li>-->
					<!--<li><a href="#gallery" class="scroll">装修案例</a></li>-->
					<!--<li><a href="#contact" class="scroll">联系方式</a></li>-->
				<!--</ul>-->
			<!--</li>-->
		<!--</div>-->
		<!--<div class="col-md-4 ag-w3-3">-->
			<!--<a href="#home" class="scroll"><i class="fa fa-angle-up" aria-hidden="true"></i></a>-->
		<!--</div>-->

		<!--<div class="col-md-4 ag-w3-2">-->
			<!--<i class="fa fa-phone" aria-hidden="true"></i><span>152 36 3666 87</span>-->
		<!--</div>-->
		<!--<div class="clearfix"> </div>-->
	<!--</div>-->
</div>
<div class="footer w3ls">
	<div class="footer-2 w3ls">
		<div class="container">
			<div class="footer-main">
				<div class="footer-top">
					<div class="col-md-4 ftr-grid fg2">
						<h3>OUR ADDRESS</h3>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p>河南省洛阳市南柯一梦装修有限公司</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p><a href="tel:15236366687">152 36 3666 87</a>  |  <a href="tel:15286888303">152 86 888 303</a></p>

								<div style="width: 100%;">
									<p>QQ：<a href="tencent://message/?uin=1521887951&amp;Menu=yes">1521887951</a> &nbsp;&nbsp;微信：zhangyinan0707</p>
								</div>
							</div>

							<div class="clearfix"> </div>
						</div>
						<div class="ftr-address">
							<div class="local">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="ftr-text">
								<p><a href="mailto:zhangyinan@onedream.top">zhangyinan@onedream.top</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-4 ftr-grid">
						<div class="logo-fo">
							<h2><a href="index.html">Trendy Designs</a></h2>
							<img src="images/weixin.png" style="width: 80px;height:80px;margin-top: 20px;"/>
						</div>
					</div>
					<div class="col-md-4 w3l_header_left-2">
						<div class="w3ls-social-icons-2">
							<a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
							<a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
							<a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
							<a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
							<a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyrights">
		<p>Copyright &copy; 2018.www.onedream.top All rights reserved.<a href="#">豫ICP备18008980号-1</a></p>
	</div>	
</div>
<!-- //Footer -->
<!-- js-scripts -->					
<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
<!-- //js -->	
<!-- Baneer-js -->
	<script src="js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				pager:false,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
<!-- //Baneer-js -->
<!-- Popup-js -->
		<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
	$('.popup-with-zoom-anim').magnificPopup({
		type: 'inline',
		fixedContentPos: false,
		fixedBgPos: true,
		overflowY: 'auto',
		closeBtnInside: true,
		preloader: false,
		midClick: true,
		removalDelay: 300,
		mainClass: 'my-mfp-zoom-in'
	});
																	
	});
</script>
<!-- //Popup-js -->
<!-- Owl-Carousel-JavaScript -->
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() {
		$("#owl-demo").owlCarousel ({
			items : 3,
			lazyLoad : true,
			autoPlay : true,
			pagination : true,
		});
	});
</script>
<!-- //Owl-Carousel-JavaScript -->  
<!-- For-Gallery-js -->
<script src="js/jquery.viewbox.min.js"></script>
<script>
		$(function(){
			
			$('.thumbnail').viewbox();
			$('.thumbnail-2').viewbox();
			
			(function(){
				var vb = $('.popup-link').viewbox();
				$('.popup-open-button').click(function(){
					vb.trigger('viewbox.open');
				});
				$('.close-button').click(function(){
					vb.trigger('viewbox.close');
				});
			})();
			
			(function(){
				var vb = $('.popup-steps').viewbox({navButtons:false});
				
				$('.steps-button').click(function(){
					vb.trigger('viewbox.open',[0]);
				});
				
				$('.next-button').click(function(){
					vb.trigger('viewbox.open',[1]);
				});
				$('.prev-button').click(function(){
					vb.trigger('viewbox.open',[0]);
				});
				$('.ok-button').click(function(){
					vb.trigger('viewbox.close');
				});
			})();
			
		});
</script>
<!-- //For-Gallery-js -->
<!-- Flexslider-js for-testimonials -->
<script type="text/javascript">
							$(window).load(function() {
								$("#flexiselDemo1").flexisel({
									visibleItems:1,
									animationSpeed: 1000,
									autoPlay: false,
									autoPlaySpeed: 3000,    		
									pauseOnHover: true,
									enableResponsiveBreakpoints: true,
									responsiveBreakpoints: { 
										portrait: { 
											changePoint:480,
											visibleItems: 1
										}, 
										landscape: { 
											changePoint:640,
											visibleItems:1
										},
										tablet: { 
											changePoint:768,
											visibleItems: 1
										}
									}
								});
								
							});
					</script>
					<script type="text/javascript" src="js/jquery.flexisel.js"></script>
<!-- //Flexslider-js for-testimonials -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- //js-scripts -->
</body>
</html>